05 Gold/Load Warehouse Table.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "pipelinestarttime",
          "value": {
            "value": "@utcnow()",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set pipelinestarttime",
        "dependsOn": []
      },
      {
        "type": "Switch",
        "typeProperties": {
          "on": {
            "value": "@pipeline().parameters.loadtype",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "full",
              "activities": [
                {
                  "type": "Copy",
                  "typeProperties": {
                    "source": {
                      "type": "DataWarehouseSource",
                      "sqlReaderQuery": {
                        "value": "SELECT * FROM @{pipeline().parameters.sourceschema}.@{pipeline().parameters.sourcetable}",
                        "type": "Expression"
                      },
                      "partitionOption": "None",
                      "queryTimeout": "02:00:00",
                      "datasetSettings": {
                        "type": "DataWarehouseTable",
                        "schema": [],
                        "connectionSettings": {
                          "name": "dw_fabric_demo",
                          "properties": {
                            "type": "DataWarehouse",
                            "typeProperties": {
                              "artifactId": "2b1e468d-ecd7-4220-80e3-2470e8e98aef",
                              "endpoint": "lzfef3tjfqouzjantosdf7hmva-qp2pz3dpmztuffcw2cntodckci.datawarehouse.fabric.microsoft.com",
                              "workspaceId": "ecfcf483-666f-4267-9456-d09b370c4a12"
                            },
                            "externalReferences": {
                              "connection": "6939a5fc-0a82-49ce-8762-45ab9e739dd5"
                            },
                            "annotations": []
                          }
                        },
                        "annotations": []
                      }
                    },
                    "sink": {
                      "type": "DataWarehouseSink",
                      "preCopyScript": "DELETE FROM @{pipeline().parameters.sinkschema}.@{pipeline().parameters.sinktable}",
                      "allowCopyCommand": true,
                      "copyCommandSettings": {},
                      "disableMetricsCollection": false,
                      "datasetSettings": {
                        "type": "DataWarehouseTable",
                        "typeProperties": {
                          "schema": {
                            "value": "@pipeline().parameters.sinkschema",
                            "type": "Expression"
                          },
                          "table": {
                            "value": "@pipeline().parameters.sinktable",
                            "type": "Expression"
                          }
                        },
                        "schema": [],
                        "connectionSettings": {
                          "name": "dw_fabric_demo",
                          "properties": {
                            "type": "DataWarehouse",
                            "typeProperties": {
                              "artifactId": "2b1e468d-ecd7-4220-80e3-2470e8e98aef",
                              "endpoint": "lzfef3tjfqouzjantosdf7hmva-qp2pz3dpmztuffcw2cntodckci.datawarehouse.fabric.microsoft.com",
                              "workspaceId": "ecfcf483-666f-4267-9456-d09b370c4a12"
                            },
                            "externalReferences": {
                              "connection": "6939a5fc-0a82-49ce-8762-45ab9e739dd5"
                            },
                            "annotations": []
                          }
                        },
                        "annotations": []
                      }
                    },
                    "translator": {
                      "type": "TabularTranslator",
                      "typeConversion": true,
                      "typeConversionSettings": {
                        "allowDataTruncation": true,
                        "treatBooleanAsNumber": false
                      }
                    },
                    "enableStaging": true
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 60,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Copy data to warehouse",
                  "dependsOn": []
                },
                {
                  "type": "SetVariable",
                  "typeProperties": {
                    "variableName": "copyStatus",
                    "value": {
                      "value": "@activity('Copy data to warehouse').output.executionDetails[0].status",
                      "type": "Expression"
                    }
                  },
                  "policy": {
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Set copyStatus",
                  "dependsOn": [
                    {
                      "activity": "Copy data to warehouse",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "SetVariable",
                  "typeProperties": {
                    "variableName": "sourceRowsCopied",
                    "value": {
                      "value": "@string(activity('Copy data to warehouse').output.rowsCopied)",
                      "type": "Expression"
                    }
                  },
                  "policy": {
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Set sourceRowsCopied",
                  "dependsOn": [
                    {
                      "activity": "Set copyStatus",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "SetVariable",
                  "typeProperties": {
                    "variableName": "pipelineendtime",
                    "value": {
                      "value": "@utcnow()",
                      "type": "Expression"
                    }
                  },
                  "policy": {
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Set pipeline endtime",
                  "dependsOn": [
                    {
                      "activity": "Set sourceRowsCopied",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "Script",
                  "typeProperties": {
                    "scripts": [
                      {
                        "text": {
                          "value": "Update dbo.PipelineOrchestrator_FabricWarehouse set batchloaddatetime = '@{pipeline().parameters.batchloaddatetime}', loadstatus = '@{variables('copyStatus')}',  rowsinserted= @{variables('sourceRowsCopied')}, rowsupdated=0, pipelinestarttime='@{variables('pipelinestarttime')}', pipelineendtime = '@{variables('pipelineendtime')}' where sourceschema = '@{pipeline().parameters.sourceschema}' and sourcetable = '@{pipeline().parameters.sourcetable}'",
                          "type": "Expression"
                        },
                        "type": "NonQuery"
                      }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                  },
                  "connectionSettings": {
                    "name": "FabricMetadataOrchestration",
                    "properties": {
                      "type": "FabricSqlDatabase",
                      "typeProperties": {
                        "artifactId": "1c92d2e6-59ac-a824-407d-0d49a5bf3425",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "externalReferences": {
                        "connection": "2d9f5d49-fc82-4906-a604-ae06886edfe0"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Update Pipeline Run details",
                  "dependsOn": [
                    {
                      "activity": "Set pipeline endtime",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                },
                {
                  "type": "Script",
                  "typeProperties": {
                    "scripts": [
                      {
                        "text": {
                          "value": "Update dbo.PipelineOrchestrator_FabricWarehouse set batchloaddatetime = '@{pipeline().parameters.batchloaddatetime}', loadstatus = 'Failed', pipelinestarttime='@{variables('pipelinestarttime')}', pipelineendtime = '@{utcnow()}' where sourceschema = '@{pipeline().parameters.sourceschema}' and sourcetable = '@{pipeline().parameters.sourcetable}'",
                          "type": "Expression"
                        },
                        "type": "NonQuery"
                      }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                  },
                  "connectionSettings": {
                    "name": "FabricMetadataOrchestration",
                    "properties": {
                      "type": "FabricSqlDatabase",
                      "typeProperties": {
                        "artifactId": "1c92d2e6-59ac-a824-407d-0d49a5bf3425",
                        "workspaceId": "00000000-0000-0000-0000-000000000000"
                      },
                      "externalReferences": {
                        "connection": "2d9f5d49-fc82-4906-a604-ae06886edfe0"
                      },
                      "annotations": []
                    }
                  },
                  "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                  },
                  "name": "Log Full Load Failure",
                  "dependsOn": [
                    {
                      "activity": "Copy data to warehouse",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ]
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "DataWarehouseSource",
                  "sqlReaderStoredProcedureName": {
                    "value": "@{pipeline().parameters.storedprocschema}.@{pipeline().parameters.storedprocname}",
                    "type": "Expression"
                  },
                  "storedProcedureParameters": {
                    "EndDate": {
                      "type": "Datetime",
                      "value": {
                        "value": "@pipeline().parameters.sourceenddate",
                        "type": "Expression"
                      }
                    },
                    "StartDate": {
                      "type": "Datetime",
                      "value": {
                        "value": "@pipeline().parameters.sourcestartdate",
                        "type": "Expression"
                      }
                    }
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "type": "DataWarehouseTable",
                  "schema": [],
                  "connectionSettings": {
                    "name": "dw_fabric_demo",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "2b1e468d-ecd7-4220-80e3-2470e8e98aef",
                        "endpoint": "lzfef3tjfqouzjantosdf7hmva-qp2pz3dpmztuffcw2cntodckci.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "ecfcf483-666f-4267-9456-d09b370c4a12"
                      },
                      "externalReferences": {
                        "connection": "6939a5fc-0a82-49ce-8762-45ab9e739dd5"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                },
                "firstRowOnly": true
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 60,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Load Incremental via Stored Proc",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "incrStatus",
                "value": {
                  "value": "Succeeded",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set incrStatus",
              "dependsOn": [
                {
                  "activity": "Load Incremental via Stored Proc",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "incrUpdateCount",
                "value": {
                  "value": "@string(activity('Load Incremental via Stored Proc').output.firstRow.UpdateCount)",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set incrUpdateCount",
              "dependsOn": [
                {
                  "activity": "Set incrStatus",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "incrInsertCount",
                "value": {
                  "value": "@string(activity('Load Incremental via Stored Proc').output.firstRow.InsertCount)",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set incrInsertCount",
              "dependsOn": [
                {
                  "activity": "Set incrUpdateCount",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "incrMaxDate",
                "value": {
                  "value": "@string(activity('Load Incremental via Stored Proc').output.firstRow.MaxDate)",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set incrMaxDate",
              "dependsOn": [
                {
                  "activity": "Set incrInsertCount",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "pipelineendtime",
                "value": {
                  "value": "@utcnow()",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set pipeline endtime_incr",
              "dependsOn": [
                {
                  "activity": "Set incrMaxDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "Update dbo.PipelineOrchestrator_FabricWarehouse set batchloaddatetime = '@{pipeline().parameters.batchloaddatetime}', loadstatus = '@{variables('incrStatus')}', sinkmaxdatetime = '@{variables('incrMaxDate')}', sourcestartdate = '@{variables('incrMaxDate')}', rowsupdated = @{variables('incrUpdateCount')}, rowsinserted = @{variables('incrInsertCount')},  pipelinestarttime='@{variables('pipelinestarttime')}', pipelineendtime = '@{variables('pipelineendtime')}' where sourceschema = '@{pipeline().parameters.sourceschema}' and sourcetable = '@{pipeline().parameters.sourcetable}'",
                      "type": "Expression"
                    },
                    "type": "NonQuery"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "FabricMetadataOrchestration",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "1c92d2e6-59ac-a824-407d-0d49a5bf3425",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "2d9f5d49-fc82-4906-a604-ae06886edfe0"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Update Pipeline Run details_incr",
              "dependsOn": [
                {
                  "activity": "Set pipeline endtime_incr",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "Update dbo.PipelineOrchestrator_FabricWarehouse set batchloaddatetime = '@{pipeline().parameters.batchloaddatetime}', loadstatus = 'Failed', pipelinestarttime='@{variables('pipelinestarttime')}', pipelineendtime = '@{utcnow()}' where sourceschema = '@{pipeline().parameters.sourceschema}' and sourcetable = '@{pipeline().parameters.sourcetable}'",
                      "type": "Expression"
                    },
                    "type": "NonQuery"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "connectionSettings": {
                "name": "FabricMetadataOrchestration",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "1c92d2e6-59ac-a824-407d-0d49a5bf3425",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "2d9f5d49-fc82-4906-a604-ae06886edfe0"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Log Incremental Load Failure",
              "dependsOn": [
                {
                  "activity": "Load Incremental via Stored Proc",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            }
          ]
        },
        "name": "Check loadtype",
        "dependsOn": [
          {
            "activity": "Set pipelinestarttime",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "sourcestartdate": {
        "type": "string"
      },
      "sourceenddate": {
        "type": "string"
      },
      "sourceschema": {
        "type": "string"
      },
      "sourcetable": {
        "type": "string"
      },
      "sinkschema": {
        "type": "string"
      },
      "loadtype": {
        "type": "string"
      },
      "batchloaddatetime": {
        "type": "string"
      },
      "sinktable": {
        "type": "string"
      },
      "storedprocschema": {
        "type": "string"
      },
      "storedprocname": {
        "type": "string"
      }
    },
    "variables": {
      "pipelinestarttime": {
        "type": "String"
      },
      "pipelineendtime": {
        "type": "String"
      },
      "copyStatus": {
        "type": "String"
      },
      "sourceRowsCopied": {
        "type": "String"
      },
      "incrStatus": {
        "type": "String"
      },
      "incrUpdateCount": {
        "type": "String"
      },
      "incrInsertCount": {
        "type": "String"
      },
      "incrMaxDate": {
        "type": "String"
      }
    }
  }
}